.main {
    max-width: min(90%, 820px) !important;
}
@media (min-width: 1440px) {
    .main {
        max-width: 900px !important;
    }
}
:has(.profile) .main {
    max-width: unset !important;
    width: 100% !important;
    padding-inline: 0 !important;
}
@media (min-width: 1440px) {
    :has(.profile) .main {
        max-width: unset !important;
        width: 100% !important;
        padding-inline: 0 !important;
    }
}