/* 代码块圆角优化 */
[data-theme="dark"] body {
    background: linear-gradient(to bottom, #040410, #0b0b1e) !important;
}
[data-theme="light"] body {
    background: linear-gradient(to bottom, #fcfbf8, #f1eee6) !important;
}
pre {
    border-radius: 8px !important;
}
.giscus-area {
  margin-top: 3rem;
  padding-top: 1rem;
}
.giscus-frame {
  width:100% !important;
}